{% extends 'Template.twig' %}

{% block content %}
    <div class="post__header" style="background: url('/uploads/{{ post.thumbmail }}') no-repeat">
        <div class="post__header__container">

        </div>
    </div>
    <form method="post">
        <div class="container">
            <div class="post__content">
                <ul class="breadcrumb">
                    <li><a href="{{ path_for("home") }}">Home</a></li>
                    <li><a href="{{ path_for("posts") }}">Post</a></li>
                    <li class="active">{{ post.title }}</li>
                </ul>
                <div class="post__title center">
                    <h1><input class="form-control" type="text" name="title" value="{{ post.title }}"></h1>
                    <input class="form-control" type="text" name="teaser" value="{{ post.teaser }}">
                    <input class="form-control" type="text" name="trending" value="{{ post.trending }}">
                    {% if post.authed %}
                        <button class="btn btn-danger">Save</button>
                    {% endif %}
                </div>

                <div class="justify">
                    <textarea name="content" id="" cols="30" rows="10" class="form-control">{{ post.content | nl2br }}</textarea>
                </div>
                <span class="pull-right">By <a href="#">{{ post.author }}</a></span>
                <span class="pull-left" data-ago="{{ post.date }}"></span>
            </div>
        </div>
    </form>


{% endblock %}