{% extends 'Template.twig' %}

{% block content %}
    <div class="post__header" style="background: url('/uploads/{{ post.thumbmail }}') no-repeat">
        <div class="post__header__container">

        </div>
    </div>

    <div class="container">
        <div class="post__content">
            <ul class="breadcrumb">
                <li><a href="/">Accueil</a></li>
                <li><a href="#">Articles</a></li>
                <li class="active">{{ post.title }}</li>
            </ul>
            <div class="post__title center">
                <h1>{{ post.title }}</h1>
            </div>

            <div class="justify">
                <p class="justify">
                    {{ post.content | nl2br }}
                </p>
            </div>
            <span class="pull-right">Par <a href="#">{{ post.author }}</a></span>
            <span class="pull-left">{{ post.date | date("F jS \\a\\t g:ia") }}</span>
        </div>
    </div>

{% endblock %}