{% extends 'Template.twig' %}

{% block content %}
    <div class="post__header" style="background: url('/uploads/{{ post.thumbmail }}') no-repeat">
        <div class="post__header__container">

        </div>
    </div>

    <div class="container">
        <div class="post__content">
            <ul class="breadcrumb">
                <li><a href="{{ path_for("home") }}">Home</a></li>
                <li><a href="{{ path_for("posts") }}">Post</a></li>
                <li class="active">{{ post.title }}</li>
            </ul>
            <div class="post__title center">
                <h1>{{ post.title }}</h1>
            </div>

            <div class="justify">
                    {{ post.content | markdown }}
            </div>
            <span class="pull-right">By <a href="#">{{ post.author }}</a></span>
            <span class="pull-left" data-ago="{{ post.date }}"></span>
        </div>
    </div>

{% endblock %}